<!-- BEGIN: main -->
<div class="footer-info">
    <div class="fl wp430 ml95 mt30">
        <p class="title">Trụ sở chính tại Hà Nội</p>
        <p>Địa chỉ: Nhà 12N1, ngõ 53, đường Hoàng Cầu, phường Ô Chợ Dừa, Q. Đống Đa, Hà Nội</p>
        <p>Điện thoại: 04-667 47102 -  Fax: 04-627 50010</p>
        <p>Hotline: 0988 683 082 (Thạc sỹ Hoài)</p>
    </div>
    <div class="fl wp430 mt30 tar">
        <p class="title">VPĐD tại thành phố Hồ Chí Minh</p>
        <p>Địa chỉ: Tầng trệt, khu văn phòng VINAFOR, số 64 - Trương Định - Phường 7, Quận 3, TP. Hồ Chí Minh
        (đối diện với thành ủy HCM)</p>
        <p>Điện thoại: 08-393 251 96 (giờ hành chính)</p>
        <p>Hotline: 01678 161 999 - 01678 696 888</p>
    </div>
    <div class="cl"></div>
    <!--<div class="fl wp430 ml95 mt45">
        <p class="title">Điểm thu mẫu tại Đà Nẵng</p>
        <p>Trung tâm Bác sỹ gia đình Đà Nẵng</p>
        <p>Địa chỉ: Số 73 Nguyễn Hữu Thọ - Tp Đà Nẵng</p>
        <p>Điện thoại: 0511-3632 111 (giờ hành chính)</p>
        <p>Hotline: 0905.322.909 (BS. Mai)</p>
    </div>
    <div class="fl wp430 mt45 tar">
        <p class="title">Điểm thu mẫu tại Khánh Hòa</p>
        <p>Trung Tâm Dịch Vụ Y Tế- BV Đa khoa Khánh Hòa</p>
        <p>Địa chỉ: 19 Yersin, Lộc Thọ, TP Nha Trang, Khánh Hòa</p>
        <p>Hotline: 0935.120.968 (BS. Võ Thị Hồng Hà)</p>
    </div>
    <div class="cl"></div>-->
</div>
<!-- END: main -->