<!-- BEGIN: main -->
<a href="/" id="logo_site" title="Sàng lọc sơ sinh" class="fl">&nbsp;</a>
<div class="fl wp1 h45 bg0672BA mt35"></div>
<div class="fl mt32 ml8 header-text">
    <p class="fs18 fwb ttfu p0 m0">Trung tâm sàng lọc sơ sinh</p>
    <p class="fs18 fwb ttfu cl0072BB p0 m0 mt10">Bionet Việt Nam</p>
</div>
<div class="fr search-social">
    <div class="fr search-form">
        <form method="get" action="{frmAction}" id="searchForm">
            <div id="search-border" class="fl"><div class="fl icon_search"></div><div class="bg0672BA fl wp1 h25 mt3 ml5 mr5"></div><input type="text" name="key" class="fl" id="search_input" placeholder="Tìm kiếm"/></div>
        </form>
    </div>
    <div class="cl"></div>
    <div class="fr mt50 social-wrapper">
        <a class="fl icons social twitter" href="" title=""></a>
        <a class="fl icons social google_plus ml15" href="" title=""></a>
        <a class="fl icons social facebook ml15" href="" title=""></a>
        <a class="fl icons social rss ml15" href="" title=""></a>
        <div class="cl"></div>
    </div>
</div>
<!-- END: main -->