.toggle-menu { display: none;}
.show-mobile { display: none !important;}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) and (orientation : landscape){

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){

}

/* Smaller device */
@media (max-width: 1026px) {
    .wrapper { width: 100%; padding: 0 5px; box-sizing: border-box;}
    #slider-border img { max-width: 100%;}
}

/* Mobile */
@media (max-width: 960px) {
    * { box-sizing: border-box;}
    img { max-width: 100%;}
    .adv_home { margin: 0 10px; background: none; border: 1px solid #d9d9d9; border-top: 0; border-bottom: 0;}
    #slider-border { height: auto !important;}
    .show-mobile { display: block !important;}
    .hide-mobile { display: none !important;}
    .fb_iframe_widget.fb-like.show-mobile { display: inline-block !important;}

    #main_menu { position: relative;}
    #main_menu ul { display: none;}
    .toggle-menu { display: block; position: absolute; top: 5px; left: 5px;}
    .toggle-menu .fa { font-size: 24px; color: #fff;}
    #main_menu ul { float: none; position: absolute; width: 100%; background: #333; height: auto; z-index: 999; top: 30px;}
    #main_menu ul li { display: block; float: none;}
    #main_menu ul li:nth-child(2n) { display: none;}
    #main_menu ul li a { font-size: 14px; padding: 3px 0;}
    #main_menu ul li a:hover, #main_menu ul li.active a { background: none;}

    #search_input { width: 70%;}

    .breadcrumb { height: 50px;}
    .btn.blue.bg_gradient { display: inline-block;}
    #box_member_header .h30 { height: 50px;}

    .wp764 { width: 65%;}
    .wp439 { width: 100%;}
    .wp322 { width: 100%; margin-left: 0 !important;}
    .wp251 { width: 33%;}
    .fs12 { font-size: 13px;}
    .ofh.fl.wp181 { overflow: initial; width: 100%; margin-left: 0; float: none;}
    .list-news.ofh.fl.h51 { width: 48%; margin-left: 1%; height: 69px;}
    .list-news .fl.wp75 { width: 100%; overflow: initial; float: none;}
    .list-news .fl.wp75 a {font-size: 13px;}
    .img-news.image_border.wp56 { width: 80px; height: 57px;}
    .img-news.image_border.wp56 .img_news_border_3 { width: 100%; height: 100%; display: block; margin: 0 auto;}
    .img-news.image_border.wp56 a { width: 100%; height: 100%; display: block;}
    .img-news.image_border.wp56 img { max-width: 100%; max-height: 100%; display: inline-block;}
    .list-news.ofh.fl.h51.boxBlue { background: transparent;}

    .box-blue .box-title .caption { height: 34px;}

    .box-blue .box-title { font-size: 14px; top: 0;}
    .btn_slide.prev, .btn_slide.next { top: 80px;}
    .btn_slide.prev { left: 0;}
    .btn_slide.next { right: 0;}

    .wp768 { width: 66%;}
    .wp760 { width: 100%}

    .box-content * { box-sizing: border-box;}
    .box-content .wp430 { width: 100%; display: block; border-right: none; border-bottom: 1px dashed #c9c9c9; margin-bottom: 10px;}
    .box-content .wp283 { width: 100%; display: block;}

    .image_border.wp253 { width: 35%; height: auto;}
    .image_border.wp253 img { max-width: 100%;}

    .image_border.wp96 { width: 35%; height: auto;}
    .image_border.wp96 img { width: 100%; max-width: 100%; max-height: inherit;}

    .special_home .wp175 { width: 100%; float: none;}

    .wp175 .fs11.mb5 { -webkit-line-clamp: 5;  line-height: 16px; max-height: 95px; font-size: 13px;}
    .img-news.image_border { margin: 0 5px 5px 0;}
    .img-news.image_border img { width: 100% !important;}
    .footer_border { height: auto;}
    .footer-info .wp430 { float: none; margin: 20px 0 0 0; text-align: left;}
    .footer-info p.title { margin-bottom: 10px;}

    .bottom_border.h50 { height: auto; padding-bottom: 10px;}

    #gallery-home-slider { width: 100% !important;}
    #gallery-home.partner { height: auto;}
    .bottom-time-read-more { display: none;}
    .border_share_social { height: 32px;}
    .ct_article table { max-width: 100% !important; width: 100% !important;}
    .fb_iframe_widget > span { width: 100% !important;}
    .fb_iframe_widget iframe { width: 100% !important;}
    .footer-info { display: block; padding: 10px 0;}
    .box-blue .box-content { background: none; border: 1px solid #d9d9d9; margin: 0 10px; border-top: none; border-bottom: none;}
    .box-blue.small .box-content { background: none; border: 1px solid #d9d9d9; margin: 0 10px; border-top: 0; border-bottom: 0;}
    .ofh.fl.wp510.ml20 { float: none; margin: 0; width: 100%; overflow: initial;}
    #div_contacts { margin-left: 0;}
    #div_contacts .wp340 { width: 100%;}
    #div_contacts textarea { width: 100%;}
    .swiper-container { width: 98%; height: 50px; margin: 0 1%;}
    .swiper-slide { padding: 5px 10px; background: #1F497D; color: #fff; font-size: 16px; line-height: 20px; height: 30px; margin: 10px 0 0; border-radius: 5px; text-decoration: none; text-align: center; font-weight: bold;}
}

@media (max-width: 768px) {
    .description_article { font-size: 15px;}
    .fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style], .fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {
        width: 100% !important;
    }
    .bt_feedback:after { clear: both; display: block; content: '';}
}

@media (max-width: 640px) {
    img, table, .ct_article img { max-width: 100% !important; height: auto !important;}
    table img { min-width: 100px;}
    .hide-small-mobile { display: none;}
    .search-social { float: left; width: 100%; margin-button: 5px;}
    .search-social > .cl { clear: inherit;}
    #search-border { margin-top: 0; width: 100%;}
    .search-form { float: left; width: 49%;}
    #search_input { width: 60%;}
    .social-wrapper { margin-top: 0; width: 49%;}
    .img_news_border_5 { display: inline-block; margin: 0 auto;}

    .wp764 { float: none; width: 100%;}
    .wp251 { float: none; width: 100%;}

    .wp768 { float: none; width: 100%;}
    /*.wp768:after { content: ''; display: block; clear: both;}*/
    .wp439, .wp322, .wp251 { float: none; width: 100%; margin-left: 0 !important;}
    .list-news .wp261 { float: none; width: 100%; overflow: initial; margin-left: 0;}
    .list-news.ofh.fl.h51.pt5.pb5.pr4 { width: 100%; float: none; height: auto;}
    .list-news.ofh.fl.h51.pt5.pb5.pr4 .wp75 { width: 100%; float: none; font-size: 14px !important; overflow: initial; margin-left: 0;}
    .list-news.ofh.fl.h51.pt5.pb5.pr4 .wp75:after { clear: both; content: ''; display: block;}
    .list-news .fs9 { font-size: 13px;}
    .list-news.boxBlue { background: none;}
    .img-news.image_border.wp56 a { height: auto;}

    #detail_content_border { float: none; width: 100%;}
    .fb_iframe_widget { float: left;}

    .box-blue .box-content { margin: 0 9px;}
    .box-blue .box-title { top: 0;}
    .img-news.image_border.h51 { height: auto; width: 110px; margin: 0 5px 5px 0}
    .img_56_51 { max-width: 100%; max-height: 90px; display: block;}

    .adv_home { background: none; margin: 0 0 5px;}
    .footer-info .wp430 { width: 100%;}

    .wp175 .fs11.mb5 { display: block; overflow: initial; max-height: inherit;}
    .image_border.wp96 { display: block; margin-bottom: 5px;}
    .news-brief { text-align: justify;}
    .box-content .wp283 { padding: 0 5px;}
    #videos_wrapper, #videos { width: 98% !important; height: 340px !important;}
    #videos_wrapper embed, #videos embed { width: 100% !important; height: 100% !important;}
    .wp181 { width: 100%;}
    .wp181.ml20 { margin-left: 0 !important; float: none; overflow: initial;}
    .img-news.image_border { float: left;}
    .btn_slide.prev { top: 20px;}
    .btn_slide.next { top: 20px;}

    .online-support p { float: left; padding: 12px 0 0 10px;}
    .online-support .fs25 { font-size: 20px; margin-top: 5px;}
    .home-news-first .image_border { width: 100%;}
    #main_menu .h50 {height: 50px;}
    .img-news.image_border.wp56 .img_news_border_3 { height: auto;}
}

@media (max-width: 510px) {
    #logo_site { margin: 0 10px 0 0;}
    .header-border > .wrapper > .bg0672BA { margin-top: 17px;}
    .header-text { margin-top: 17px;}
    .header-text p { font-size: 15px;}
    #videos_wrapper, #videos { height: 290px !important;}
}

@media (max-width: 480px) {
    #logo_site { width: 30%; background-size: 100%; padding: 0; height: 78px;}
    #videos_wrapper, #videos { height: 250px !important;}
    .header-text p { font-size: 14px;}
    .online-support .fs25 { font-size: 16px; margin-top: 13px;}
}

@media (max-width: 380px) {
    .header-text p { font-size: 14px;}
    .header-text p.mt10 { margin-top: 5px;}
    .icons.social { margin-left: 6px !important;}
    #videos_wrapper, #videos { height: 270px !important;}
    .header-text p { font-size: 13px;}
    #videos_wrapper, #videos { height: 190px !important;}
}
@media (max-width: 352px) {
    .header-text p { font-size: 12px;}
}

@media (max-width: 320px) {
    #videos_wrapper { width: 100% !important;}
    #logo_site { width: 40%;}
    .header-text { width: 53%;}
    .header-text p { font-size: 11px;}
    .icons.social { margin-left: 3px !important;}
    #search_input { font-size: 14px; padding: 6px 3px;}
    #videos_wrapper, #videos { height: 175px !important;}
}