<!-- BEGIN: main -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập quản trị | Sàng lọc sơ sinh</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link rel="stylesheet" href="/Templates/Metronic/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Templates/Metronic/plugins/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/Templates/Metronic/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/Templates/Metronic/css/style-metro.css"/>
    <link rel="stylesheet" href="/Templates/Metronic/css/style.css"/>
    <link rel="stylesheet" href="/Templates/Metronic/css/style-responsive.css"/>
    <link rel="stylesheet" href="/Templates/Metronic/css/themes/default.css"/>
    <link rel="stylesheet" href="/Templates/Metronic/plugins/uniform/css/uniform.default.css"/>
    <link rel="stylesheet" href="/Templates/Metronic/plugins/select2/select2_metro.css"/>
    <link rel="stylesheet" href="/Templates/Metronic/css/pages/login.css"/>
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <img src="/Templates/Metronic/img/logo-big.png" alt="" />
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
<!-- BEGIN LOGIN FORM -->
{content}
<!-- END LOGIN FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    2013 &copy; Metronic. Admin Dashboard Template.
</div>
<!-- END COPYRIGHT -->
<!-- BEGIN: loadScript -->
Templates/Metronic/plugins/jquery-1.10.1.min.js,
Templates/Metronic/plugins/jquery-migrate-1.2.1.min.js,
Templates/Metronic/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js,
Templates/Metronic/plugins/bootstrap/js/bootstrap.min.js,
Templates/Metronic/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js,
Templates/Metronic/plugins/jquery-slimscroll/jquery.slimscroll.min.js,
Templates/Metronic/plugins/jquery.blockui.min.js,
Templates/Metronic/plugins/jquery.cookie.min.js,
Templates/Metronic/plugins/uniform/jquery.uniform.min.js,
Templates/Metronic/plugins/jquery-validation/dist/jquery.validate.min.js,
Templates/Metronic/plugins/select2/select2.min.js,
Templates/Metronic/scripts/app.js,
Templates/Metronic/scripts/login.js
<!-- END: loadScript -->
<!--[if lt IE 9]>
<script src="assets/plugins/excanvas.min.js"></script>
<script src="assets/plugins/respond.min.js"></script>
<![endif]-->
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        App.init();
    });
</script>
</body>
</html>
<!-- END: main -->